body {
  margin: 0;
  padding: 0;
  font-family: Courier;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #232944;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(to bottom right, #232944, #3498db) fixed;
	background: -moz-linear-gradient(to bottom right, #232944, #3498db) fixed;
	background: -ms-linear-gradient(to bottom right, #232944, #3498db) fixed;
	background: -o-linear-gradient(to bottom right, #232944, #3498db) fixed;
	background: linear-gradient(to bottom right, #232944, #3498db) fixed;
  line-height: 1.2;
}
.box {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #131313b0;
  text-align: center;
  border-radius: 12px;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box p, p4, p5, p6, p7, p8, p9, p10, p11 {
  color: red;
  display: none;
}
.box p1, p2, p3 {
  color: #a454ff;
  display: none;
}
.box a {
  color: #a454ff;
  text-decoration: underline;
  font-weight: normal;
}
.box input[type = "text"], .box input[type = "password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 13rem;
  outline: none;
  color: white;
  border-radius: 25rem;
  transition: 0.5s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus {
  width: 15rem;
  border-color: #a454ff;
}
.box input[type = "submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a454ff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 25rem;
  transition: 0.5s;
  cursor: pointer;
}
.box input[type = "submit"]:hover {
  background: #a454ff;
}
