html {
  scroll-behavior: smooth;
}
body {
  background-image: url("/global/Backgrounds/cyber.jpg");
  font-family: Courier;
  line-height: 1.2;
}
#headline {
  margin-bottom: 0;
}
#HeadDiv {
  height: 8rem;
  margin-top: 1.5rem;
}
#MenuDiv {
  padding: 0;
  position: absolute;
  left: 0%;
}
#Menuicon {
  margin-left: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
}
#Menuicon:hover {
  background-color: #353c5bb0;
  height: 1.8rem;
  margin-left: 1.35rem;
  cursor: pointer;
}
#TeamPicture {
  width: 100%;
  margin: 1rem 0 1rem 0;
  border-radius: 10%;
  max-height: 10rem;
}
#TeamDescription {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
}
#TeamCode {
  font-size: 1.25rem;
  color: white;
  margin: 1.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  float: left;
  height: 1.25rem;
}
#UserPicture {
  width: 100%;
  margin: 1rem 0 1rem 0;
  border-radius: 10%;
  max-height: 5rem;
}
#edit {
  color: #353c5b;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  float: right;
}
#edit:hover {
  color: #3498db;
}
#SidebarModal {
  display: none;
  z-index: 1;
  background-color: #353c5b;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#Diale_text_small {
  margin-top: 8%;
  margin-bottom: 5%
}
#SidebarLogo {
  margin-top: 8px;
}
.logos {
  height: 4rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.SB-fonts {
  color: #3498db;
  margin-top: 1.85rem;
  margin-left: 1rem;
}
.modal_background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.box, .box2, .box3, .box4 {
  display: none;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #131313;
  opacity: 0.8;
  text-align: center;
  border-radius: 12px;
}
.box h1, .box2 h1, .box3 h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box4 {
  color: white;
  font-weight: 500;
}
.box p, p1, p2, p3, .box2 p {
  color: red;
  display: none;
}
.box3 p {
  color: #a454ff;
  display: inline;
}
.box input[type = "text"], .box2 input[type = "text"], .box3 input[type = "text"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 13rem;
  outline: none;
  color: white;
  border-radius: 25rem;
  transition: 0.5s;
}
.box input[type = "text"]:focus, .box2 input[type = "text"]:focus, .box3 input[type = "text"]:focus {
  width: 15rem;
  border-color: #a454ff;
}
.box2 #TeamDescription {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: left;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 13rem;
  outline: none;
  color: white;
  border-radius: 1rem;
  transition: 0.5s;
}
.box2 #TeamDescription:focus {
  width: 15rem;
  border-color: #a454ff;
}
.box input[type = "submit"], .box2 input[type = "submit"], .box3 input[type = "submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a454ff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 25rem;
  transition: 0.5s;
  cursor: pointer;
}
.box input[type = "submit"]:hover, .box2 input[type = "submit"]:hover, .box3 input[type = "submit"]:hover {
  background: #a454ff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Headline {
  color: #3498db;
  margin: 1rem;
}
.profilepicture {
  height: 1.5rem;
  float: left;
  margin: 1rem;
  border-radius: 10%
}
.fonts {
  color: #3498db;
  font-size: 1.5rem;
  float: left;
  margin: 1rem;
  height: 1.5rem;
}
.boxes {
  display: block;
  height: 3.5rem;
}
.boxes:hover {
  background-color: #353c5bb0;
  height: 3.7rem;
  cursor: pointer;
}
.HeadUnderline {
  color: #a454fa;
  margin: 0;
  border-color:  #a454fa;
}
.Line {
  color: #353c5b;
  margin: 0;
  border-color: #353c5b;
}
.BoxDiv {
  border: solid;
  border-radius: 12px;
  border-color: #353c5b;
  padding: 0;
  background-color: #131313b0;
  margin-bottom: 2rem;
  display: table;
}
.SB-boxes:hover {
  height: 5.2rem;
  cursor: pointer;
}
.close {
  color: white;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  right: 2%;
  top: -1%;
}
.close:hover, .close:focus {
  color: #131313;
  text-decoration: none;
  cursor: pointer;
}
.fa-trash {
  color: red;
  opacity: 0.6;
  float: right;
  margin-right: 0.8rem;
  margin-top: 1.3rem;
}
.fa-trash:hover {
  opacity: 0.8;
  font-size: 1.5em;
  z-index: 2;
}
