body {
  background-color: transparent;
}
.dl_all_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  top: 0px;
  left: 0px;
}
.dl_head {
  position: absolute;
  width: 100%;
  height: 7%;
  box-sizing: border-box;
  background: rgb(36, 39, 45);
  top: 0px;
  left: 0px;
}
.head_dropdown_box {
  position: absolute;
  width: 22.5%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border-right: 2px solid;
  border-right-color: rgb(45, 50, 59);
  border-bottom: 2px solid;
  border-bottom-color: rgb(36, 39, 45);
  top: 0px;
  left: 0px;
}
.head_dropdown {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  top: 0px;
  left: 0px;
}
.head_dropdown:hover  {
  background: rgb(45, 50, 59);
}
.head_dropdown:hover ul {
  display: block;
}
ul {
  position: absolute;
  display: none;
}
ul li {
  background: #555;
  display: block;
}
ul li:hover {background: #666;}
.head_main_box {
  position: absolute;
  width: 77.5%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  top: 0px;
  left: 22.5%;
}
.dl_main {
  position: absolute;
  width: 100%;
  height: 93%;
  box-sizing: border-box;
  background: rgb(45, 50, 59);
  top: 7%;
  left: 0px;
}
.main_chat_box {
  position: absolute;
  width: 77.5%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  top: 0px;
  left: 22.5%;
}
.main_contacts_box {
  position: absolute;
  width: 22.5%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border-right: 2px solid;
  border-color: rgb(36, 39, 45);
  top: 0px;
  left: 0px;
}
