p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: transparent;
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
}
.gwd-rect-ot9m {
  position: absolute;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  background: rgb(36, 39, 45);
  top: 0px;
  left: 0px;
}
.gwd-rect-1af1 {
  position: absolute;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
  background: rgb(55, 61, 71);
  left: 100px;
  width: 250px;
  transform-origin: 117.5px 283.5px 0px;
}
.gwd-p-8faz {
  position: absolute;
  font-family: Ubuntu;
  text-align: center;
  height: 31px;
  width: 100px;
  transform-origin: 51.5px 15.5px 0px;
  font-size: 24px;
  color: rgb(146, 157, 166);
  top: 3px;
  left: 175px;
}
.gwd-rect-1l55 {
  position: absolute;
  height: 100%;
  left: 350px;
  top: 0px;
  box-sizing: border-box;
  background: rgb(55, 61, 71);
}
.gwd-line-zyni {
  position: absolute;
  stroke: rgb(36, 39, 45);
  top: 0px;
  left: 349.5px;
  height: 100%;
  stroke-width: 20px;
  width: 10px;
}
